<style>
  .button {
    appearance: button;
    -moz-appearance: button;
    -webkit-appearance: button;
    text-decoration: none;
    font: menu;
    color: ButtonText;
    display: inline-block;
    padding: 2px 8px;
  }

  h1 {
    padding-left: 25px;
  }
  
  .type {
    padding-left: 25px;
    padding-right: 25px;
  }

  h4 {
    padding-left: 25px;
  }

  .container {
    padding-left: 25px;
    padding-right: 25px;
  }
</style>

<%= render :template => "layouts/application" %>

<div class="type">
  <h3><b>Areas De Empleos</b></h3><br/>
  <%@specialty_hash.each do |area, link_it|%>
    <%=link_to area, link_it, :class =>"button"%>
  <%end%>
</div>

<h4>Empleos De Diseno</h4>

<br/><%@parser.each do |wyo|%>
<div class="container">
  <div style="border: 1px solid black;">
  <b>Title:  </b><%=wyo.to_s[wyo.to_s.index("title=").to_i+7..wyo.to_s.index("aviso_content").to_i-22]%><br/><br/>
  <b>Dia de Publicacion:  </b><%=wyo.to_s[wyo.to_s.index("Hace").to_i..wyo.to_s.index("Hace").to_i+15]%><br/><br/>
  <!--<b>Link:  </b><%=wyo.to_s[wyo.to_s.index("a href").to_i..wyo.to_s.index("class").to_i-2]%><br/><br/>-->
  <%stringed = wyo.to_s[wyo.to_s.index("a href").to_i+8..wyo.to_s.index("class").to_i-3]%>
  <%stringed2="http://www.bumeran.com.mx"+stringed%>
  <%pages1=HTTParty.get(stringed2)%>
  <%linker= Nokogiri::HTML(pages1)%>
  <%j = linker.at_css("div#contenido_aviso")%>
  <%dave = j.xpath("//text()").to_s%>
  <%=dave.to_s[dave.to_s.index("Postularme").to_i+190..dave.to_s.index("Me tengo").to_i-130]%>
  <br/><br/>

  <%if logged_in?%>
    <%=link_to 'Click Here to Submit Your Resume Immediately', '/', data: {confirm: 'Your resume is being submitted to the company. Click OK to complete the submission.'} %>
  <%else%>
    <%=link_to 'Log In and Upload a Resume to Apply to This Job', '/login'%>
  <%end%>
  </div>
</div>
  <br/><br/>
<%end%><br/>