<h2>Jobs</h2>

<%@jobs.each do |job|%>
  <div>
  <%=link_to job.title, job%><br/>
  <%=job.company%><br/>
  <%=job.pay%><br/>
  <%=job.description%><br/>
  <%=link_to 'Show', job%>
  <%if logged_in? and current_user.admin?%>
    <%=link_to 'Edit', edit_job_path(job)%>
    <%=link_to 'Destroy', job, method: :delete, data: {confirm: 'Are you sure you want to delete this job listing?'}%>
  <%end%>
  <div><br/><br/>
<%end%>

<br/><br/>

<%if logged_in?%>
  <%=link_to "Create a New Job Listing", new_job_path%>
<%end%>