<%= render :template => "layouts/application" %>

<h1>Trabajos En Nuevo Leon</h1>

<div class="type">
  <h3><b>Areas De Empleos</b></h3><br/>
  <%@specialty_hash.each do |area, link_it|%>
    <%=button_to area, link_it, :method => :get%><br/>
  <%end%>
</div>

<%@jobs.each do |job|%>
  <div>
  <%=link_to job.title, job%><br/>
  <%=job.company%><br/>
  <%=job.pay%><br/>
  <%=job.description%><br/>
  <%if logged_in? and current_user.admin?%>
    <%=link_to 'Edit', edit_job_path(job)%>
    <%=link_to 'Destroy', job, method: :delete, data: {confirm: 'Are you sure you want to delete this job listing?'}%>
  <%end%>
  <div><br/><br/>
<%end%>

<br/>

<%if logged_in? and current_user.admin?%>
  <%=link_to "Create a New Job Listing", new_job_path%>
<%end%><br/>


<b>Featured Jobs</b><br/><br/>

<%@parser.each do |wyo|%>
<div class="container">
  <div style="border: 1px solid black;">
  <b>Title:  </b><%=wyo.to_s[wyo.to_s.index("title=").to_i+7..wyo.to_s.index("aviso_content").to_i-22]%><br/><br/>
  <b>Dia de Publicacion:  </b><%=wyo.to_s[wyo.to_s.index("Hace").to_i..wyo.to_s.index("Hace").to_i+15]%><br/><br/>
  <!--<b>Link:  </b><%=wyo.to_s[wyo.to_s.index("a href").to_i..wyo.to_s.index("class").to_i-2]%><br/><br/>-->
  <%stringed = wyo.to_s[wyo.to_s.index("a href").to_i+8..wyo.to_s.index("class").to_i-3]%>
  <%stringed2="http://www.bumeran.com.mx"+stringed%>
  <%pages1=HTTParty.get(stringed2)%>
  <%linker= Nokogiri::HTML(pages1)%>
  <%j = linker.at_css("div#contenido_aviso")%>
  <%dave = j.xpath("//text()").to_s%>
  <%=dave.to_s[dave.to_s.index("Postularme").to_i+190..dave.to_s.index("Me tengo").to_i-130]%>
  <br/><br/>

  <%=link_to 'Apply to this Job Instantly', controller: "jobs", action: "driver_method", :data => {:confirm => "Are You Sure?"}%>
  </div>
</div>
  <br/><br/>
<%end%><br/>

<p><%=@parsed_links%></p>