<h2>Nuevo Usuario</h2>

<%=form_for(@user) do |user|%>
  <div class="field">
    <%=user.label :nombre%>
    <%=user.text_field :name%>
  </div><br/>
  <div class="field">
    <%=user.label :email%>
    <%=user.text_field :email%>
  </div><br/>
  <div class="field">
    <%=user.label :contrasena%>
    <%=user.password_field :password_digest%>
  </div><br/>
  <b>Sube tu Curiculo Abajo</b><br/><br/>
  <div class="field">
    <%=user.file_field :file%>
  </div><br/>
  <b>Una vez que has creado un nuevo usuario, se enviara un correo electronico de confirmacion a su direccion de correo electronico</b><br/>
  <div class="actions">
    <%=user.submit%>
  </div><br/>
<%end%>
