<h2>New User</h2>

<%=form_for(@user) do |user|%>
  <div class="field">
    <%=user.label :name%>
    <%=user.text_field :name%>
  </div><br/>
  <div class="field">
    <%=user.label :email%>
    <%=user.text_field :email%>
  </div><br/>
  <div class="field">
    <%=user.label :password%>
    <%=user.password_field :password_digest%>
  </div><br/>
  <b>Upload Resume Below</b><br/><br/>
  <div class="field">
    <%=user.file_field :file%>
  </div><br/>
  <div class="actions">
    <%=user.submit%>
  </div><br/>
<%end%>
