<h2>New User</h2>

<%=form_for(@user) do |user|%>
  <div class="field">
    <%=user.label :name%>
    <%=user.text_field :name%>
  </div>
  <div class="field">
    <%=user.label :email%>
    <%=user.text_field :email%>
  </div>
  <div class="field">
    <%=user.label :password%>
    <%=user.password_field :password_digest%>
  </div>

  <div class="actions">
    <%=user.submit%>
  </div>
<%end%>
