<style>
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #111;
  }
</style>

<!DOCTYPE html>
<html>
<head>
  <title>Jobs</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<ul>
  <li><%=link_to 'Primer Pagina', '/'%></li>
  <%if logged_in?%>
    <li><%=link_to 'Log Out', logout_path%></li>
    <li><%=link_to 'My Profile', user_path(current_user)%></li>
  <%else%>
    <li><%=link_to 'Nuevo Usuario', new_user_path%></li>
    <li><%=link_to 'Inicia Sesion', login_path%></li>
  <%end%>
</ul>
</div>
<body>

<%= yield %>

</body>
</html>
